<ul class="list-unstyled">
  <li class="d-flex align-items-center">
    <i class="bi bi-wifi me-2"></i> Free Wi-Fi
  </li>
  <li class="d-flex align-items-center">
    <i class="bi bi-snow me-2"></i> Air Conditioning
  </li>
  <li class="d-flex align-items-center">
    <i class="bi bi-bell me-2"></i> Room Service
  </li>
  <li class="d-flex align-items-center">
    <i class="bi bi-car-front me-2"></i> Free Parking
  </li>
  <li class="d-flex align-items-center">
    <i class="bi bi-cup-hot me-2"></i> Restaurant
  </li>
  <li class="d-flex align-items-center">
    <i class="bi bi-person-bounding-box me-2"></i> 24/7 Reception
  </li>
  <li class="d-flex align-items-center">
    <i class="bi bi-tv me-2"></i> Smart TV in Every Room
  </li>
  <li class="d-flex align-items-center">
    <i class="bi bi-person-wheelchair"></i>Accessible Room
  </li>
</ul>
